<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- for IE8 and IE9 -->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /><!-- for mobiles no zoom -->
		<base href="/05_karma/" />
		<title>A simple SPA application</title>
		<link rel="stylesheet" href="../wpk/app_05_karma.css" />
	</head>
	<body ng-cloak ng-app="mainApp" ng-strict-di>
		<jlg-layout name="ctrl" ng-controller="JLGUserCtrl as user">
			<jlg-layout-header>
				<jlg-logo src="../resources/img/logo.png" ng-click="ctrl.goto('/'); ctrl.isMenu = false;"></jlg-logo>
				<jlg-utilities>
					<jlg-utilities-item ng-hide="user.account" ng-click="ctrl.goto('/signin'); ctrl.isMenu = false;" ><i class="fa fa-sign-in"></i> Se connecter</jlg-utilities-item>
					<jlg-utilities-item ng-hide="user.account" ng-click="ctrl.goto('/signup'); ctrl.isMenu = false;" ><i class="fa fa-user-plus"></i> Créer un compte</jlg-utilities-item>
					<jlg-utilities-item ng-show="user.account" ng-click="ctrl.goto('/my-account'); ctrl.isMenu = false;"><i class="fa fa-user"></i> {{user.getDisplayName()}}</jlg-utilities-item>
					<jlg-utilities-item ng-show="user.account" ng-click="user.disconnect(); ctrl.goto('/signout'); ctrl.isMenu = false;"><i class="fa fa-sign-out"></i> Déconnexion</jlg-utilities-item>
				</jlg-utilities>
				<jlg-menu>
					<jlg-menu-item href="/">Accueil</jlg-menu-item>
					<jlg-menu-item-group>
						<jlg-menu-item href="/services">Services</jlg-menu-item>
						<jlg-menu>
								<jlg-menu-item href="/services/usability">Usability</jlg-menu-item>
								<jlg-menu-item href="/services/angular">Angular</jlg-menu-item>
						</jlg-menu>
					</jlg-menu-item-group>
					<jlg-menu-item href="/contact">Contact</jlg-menu-item>
				</jlg-menu>
			</jlg-layout-header>
			<jlg-layout-body><ng-view></ng-view></jlg-layout-body>
		</jlg-layout>
		<script src="../wpk/app_05_karma.js"></script>
	</body>
</html>
