jlg-layout {
    display: block;
}

jlg-menu-item  {
    cursor: pointer;
}

jlg-layout-header {
    display: block;
    padding-top: 10px;
}

jlg-logo img {
    height: 48px;
}

jlg-utilities {
    float: right;
}




jlg-layout-header > jlg-menu {
    display: block;
    border: 1px solid black;
    text-align: center;
    background-color: hsla(0, 0%, 95%, 1);
    margin: 20px 0px;
}

jlg-layout-header > jlg-menu > jlg-menu-item,
jlg-layout-header > jlg-menu > jlg-menu-item-group > jlg-menu-item {
    display: inline-block;
    border: none;
    background-color: hsla(0, 0%, 95%, 1);
    padding: 20px 5px;
    margin: 0px 5px;
}

jlg-layout-header > jlg-menu > jlg-menu-item:hover,
jlg-layout-header > jlg-menu > jlg-menu-item-group > jlg-menu-item:hover {
    display: inline-block;
    border: none;
    background-color: hsla(0, 0%, 90%, 1);
    padding: 20px 5px;
    margin: 0px 5px;
}

jlg-menu-item.active {
    background-color: hsla(0, 40%, 85%, 1);
}

jlg-menu-item.active:hover {
    background-color: hsla(0, 40%, 85%, 1);
}

/* Cas des menu secondaires */

jlg-menu-item-group {
	display: inline-block;
	position: relative;
	border: none;
}


jlg-menu-item-group jlg-menu {
    display: none;
	position: absolute;
	background-color: hsla(0, 0%, 95%, 1);
    margin: 0px 5px;
}

jlg-menu-item-group:hover jlg-menu {
    display: block;
}


jlg-menu-item-group > jlg-menu > jlg-menu-item {
	display: block;
	padding: 20px;
    background-color: hsla(0, 0%, 95%, 1);
}

jlg-menu-item-group > jlg-menu > jlg-menu-item:hover {
	display: block;
	padding: 20px;
    background-color: hsla(0, 0%, 90%, 1);
}


