jlg-layout {
    display: block;
}

jlg-layout [ng-click] {
    cursor: pointer;
}

jlg-layout-header {
    display: block;
    padding-top: 10px;
}

jlg-logo img {
    height: 48px;
}

jlg-utilities {
    float: right;   
}

jlg-menu-item-group jlg-menu {
    display: none;
} 

jlg-layout-header > jlg-menu {
    display: block;
    border: none;
    text-align: center;
    background-color: hsla(0, 0%, 95%, 1);
    margin: 20px 0px;
}

jlg-layout-header > jlg-menu > jlg-menu-item, jlg-layout-header > jlg-menu > jlg-menu-item-group > jlg-menu-item {
    display: inline-block;
    border: none;
    background-color: hsla(0, 0%, 95%, 1);
    padding: 20px 5px;
    margin: 0px 5px;
}

jlg-layout-header > jlg-menu > jlg-menu-item:hover, jlg-layout-header > jlg-menu > jlg-menu-item-group > jlg-menu-item:hover {
    display: inline-block;
    border: none;
    background-color: hsla(0, 0%, 90%, 1);
    padding: 20px 5px;
    margin: 0px 5px;
}

jlg-menu-item.active {
    background-color: hsla(0, 40%, 85%, 1);
}