<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- for IE8 and IE9 -->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /><!-- for mobiles no zoom -->
		<base href="/01_login/" />
		<title>A simple SPA application</title>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="../bower_components/angular/angular-csp.css" />
		
		<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="jlg-layout/jlg-layout.css" />
		<link rel="stylesheet" href="style.css" />
	</head>
	<body ng-cloak ng-app="mainApp">
		<div class="container">
			<jlg-layout>
				<jlg-layout-header>
					<jlg-logo src="../resources/img/logo.png" ng-click="goto('/')"></jlg-logo>
					<jlg-utilities>
						<jlg-utilities-item ng-hide="user" ng-click="goto('/signin')" ><i class="fa fa-sign-in"></i> Se connecter</jlg-utilities-item>
						<jlg-utilities-item ng-hide="user" ng-click="goto('/signup')" ><i class="fa fa-user-plus"></i> Créer un compte</jlg-utilities-item>
						<jlg-utilities-item ng-show="user" ng-click="goto('/my-account')"><i class="fa fa-user"></i> Voir profile</jlg-utilities-item>
						<jlg-utilities-item ng-show="user" ng-click="goto('/signout')"><i class="fa fa-sign-out"></i> Déconnexion</jlg-utilities-item>
					</jlg-utilities>
					<jlg-menu>
						<jlg-menu-item ng-click="goto('/')" >Accueil</jlg-menu-item>
						<jlg-menu-item-group>
							<jlg-menu-item ng-click="goto('/services')">Services</jlg-menu-item>
							<jlg-menu>
									<jlg-menu-item ng-click="goto('/services/usability')">Usability</jlg-menu-item>
									<jlg-menu-item ng-click="goto('/services/angular')">Angular</jlg-menu-item>
							</jlg-menu>
						</jlg-menu-item-group>
						<jlg-menu-item ng-click="goto('/contact')">Contact</jlg-menu-item>
					</jlg-menu>
				</jlg-layout-header>
				<jlg-layout-body><ng-view></ng-view></jlg-layout-body>
			</jlg-layout>
		</div>

		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-route/angular-route.min.js"></script>
		<script src="jlg-layout/jlg-layout.js"></script>
		<script src="jlg-contact/jlg-contact.js"></script>
		<script src="jlg-user/jlg-user.js"></script>
		<script src="app.js"></script>
		
	</body>
</html>
